@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora&family=Poppins:wght@300&family=Roboto&display=swap');
body {
    padding: 0;
    margin: 0;
}
.links, .item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    font-size: large;
}
.hrr {
    margin-top: 25px;
}

.container {
    width: 1400px;
    height: 250px;
    border: solid thin;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
}
.h1 {
    margin-top: 45px;
    margin-left: 20px;
}
.p1 {
    margin-left: 20px;
    margin-top: -1rem;
}
.p2 {
    margin-left: 20px;
    margin-top: -1rem;
}
.container-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.box {
    width: 250px;
    height: 350px;
    background-color: rgb(140, 186, 188);
    padding: 1em;
    font-weight: 700;
    text-align: center;
    /* border: 10px solid var(--clr-accent); */
    border-radius: 10px;
}
.childofbox-1 {
    width: 100px;
    height: 100px;
    border: #70c670 solid;
    border-radius: 70% 0 70% 70%;
    background-color: #70c670;
    box-shadow: 0 4px 5px -3px white inset;
    margin-top: 2rem;
    margin-left: 4rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.des {
    display: flex;
    justify-content: center;
    justify-items: center;
    /* font-family: 'Lora', serif; */
    font-weight: lighter;
    margin-top: 2rem;
}
.fatherofa {
    width: 50px;
    height: 30px;
    background-color: palevioletred;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
.a-1 {
    color: rgba(0, 0, 0, 0.886);
    /* background-color: rgb(226, 61, 116); */
    /* margin-top: 2rem; */
}
.picture {
    width: 150px;
    height: 150px;
}
.para {
    margin-top: 0.5rem;
}
